.detail-container {
  .detail-product {
    display: flex;
    justify-content: center;
    align-items: center;

    .detail-img {
      margin: 20px 0;
      border-radius: 8px;
      width: 450px;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      img {
        float: right;
        width: auto;
        height: 200px;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    .detail-content {
      margin-left: 30px;
      .detail-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 30px;
        color: #ea1b25;
      }
      .detail-price {
        font-size: 35px;
        font-weight: 200;
        margin-bottom: 20px;
      }
      .detail-quantity {
        margin-bottom: 50px;
      }
      .detail-addcart {
        margin-bottom: 20px;
      }
    }
  }
  .detail-description {
    margin: 100px;
    margin-left: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    font-size: 18px;

    h1 {
      color: #ea1b25;
      font-family: "Times New Roman", Times, serif;
    }
    p {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .related-products-container {
    h1 {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
    .related-products {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 50px;
      cursor: pointer;
    }
  }
}
